<html>
<body>
{{#user}}
Welcome, {{username}}!
<form action="/logout" method="post" style="display: inline-block">
    <button type="submit">Logout</button>
</form>
<br>

<form action="find-needs" method="get">
    <button type="submit">See Needs</button>
</form>

<form action="/add-wine" method="post">
    <input type="text" placeholder="Name" name="wineName"/>
    <input type="number" placeholder="Cost" name="cost"/>
    <input type="number" placeholder="Minimum Amount" name="minimum"/>
    <input type="number" placeholder="Stock Amount" name="stock"/>
    <button type="submit">Add Wine</button>
</form>

<ol>
{{#wines}}
    <li><b>{{wineName}}</b> Cost: ${{cost}} Minimum: {{minimum}} In-Stock: {{stock}}
        <form action="/update-wine" method="post" style="display: inline-block">
            <input type="hidden" name="id" value="{{id}}"/>
            <input type="number" name="stock" placeholder="New Stock"/>
            <button type="submit">Update Stock</button>
        </form>
        <form action="/delete-wine" method="delete" style="display: inline-block">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Delete Item</button>
        </form>
    </li>
{{/wines}}
</ol>
{{/user}}
</body>
</html>